<div class="calender">
  <div class="row text-center top-row">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary text-size"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary text-size"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary text-size"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-size btn">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</div>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary text-size"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary text-size"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary text-size"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>

  <div [ngSwitch]="view" class="top-row">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <div class="top-row">
    <h3>
      <button class="btn btn-primary float-end" (click)="addEvent()">
        Nouvelle demande
      </button>
      <div class="clearfix"></div>
    </h3>
<!--
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Status</th>
            <th>Remove</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let event of events">
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()"
              />
            </td>

            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="false"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <div *ngIf="event.color!.primary=='#1e90ff'; " style="background-color: '#1e90ff'">sent</div>
              <div *ngIf="event.color!.primary=='#13F059'; " style="background-color: '#13F059'">validated</div>
              <div *ngIf="event.color!.primary=='#DC4E30 '; " style="background-color: '#DC4E30 '">refused</div>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteEvent(event)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
-->
  </div>
</div>


